<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/flower-icon.png" />
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body class="content">

    <%- include(`partials/header`); %>

    <main class="main">
        <div>

            <% for (let category of categories) { %>
            <section class="section secondary-color-bg">

                <div class="centered-container">
                    <h1 class="decorated-title font-secondary main-color">
                        <span class="main-color-emphasized"><%= category.name %></span>
                        Inventory</h1>
                    <div class="separator"></div>
                </div>

                <% if (category.items.length > 0) {%>
                <div class="gallery">
                    <% for (let item of category.items) { %>
                    <div class="photo-box" data-id="">
                        <img class="photo-box-image" src="<%= item.imageurl %>"></img>
                        <div class="photo-box-title font-secondary main-color-emphasized"><%= item.name %>
                        </div>
                        <!--
                        <div class="cart-btn" onclick="javascript: addToCart(this.value);"></div>
                        -->
                    </div>

                    <% } %>

                </div>

                <% } else{ %>


                <div class="centered-container">
                    <h1 class="decorated-title font-secondary main-color gallery-message">No items in this category</h1>
                </div>

                <% }%>


            </section>

            <% } %>


        </div>
    </main>

    <%- include(`partials/footer`); %>

</body>

</html>